.Individual_Champion{
    background-color: white;
    display:flex;
    align-self: center;
    position: relative;
    width:100%;
    flex-direction: column;
}
.The-Champion{
    display: flex;
    width:100%;
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.img-title{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    text-align: center;
}
.Champion-Lore{
    padding:20px;
}
.Skills{
    display:flex;
    flex-direction: row;
    margin-top:20px;
    align-self: center;
}
.Skills img{
    width:50px;
    height:50px;
    margin:3px;
}
.Text-Skin{
    background: black url(https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/lol-textures.jpg) no-repeat 0 -6px;
}
.Text-Skin h1{
    color:white;
    padding-left:30px;
}
.Skins{
    display:grid;
    text-align: center;
    justify-items: center;
}
.Skin{
    width:260px;
    height:153px;
}
.Skin img{
    padding:10px;
    width:260px;
    height:153px;
}
.All_Tips{
    display:flex;
    flex-direction: column;
    padding:10px;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.ITEMS{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
@media (min-width:600px){
    .ITEMS{
        flex-direction: row;
    }
}
.Items_Situacionais img, .Items_Essenciais img, .Items_Recomended img,.Items_Situacionais_JG img, .Items_Inicio img,.Items_Inicio_JG img,.Items_Essenciais_JG img, .Items_Recomended_JG img{
    padding:10px;
}
@media (min-width:700px){
    .Individual_Champion{
        padding:10px;
    }
    .Img-Skill-Lore{
        display: flex;
        flex-direction: row;
    }
    .Champion-Lore{
        padding: 20px;
    }
    .img-title{
        display: flex;
        flex-direction:row;
    }
    .title{
        display:flex;
        padding:5px;
        flex-direction: column;
    }
    .Skins{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1000px){
    .Individual_Champion{
        width:1000px;
    }
    .Skins{
        grid-template-columns: repeat(3,1fr);
    }
}